.button {
  display: block;
  background-color: #f0003c;
  color: white;
  border-radius: 10px;
  width: 100%;
  padding: 0.5rem;
  box-shadow: 0 5px #a30136;
  border: 0px;
  margin: 0;
}

.button:active {
  box-shadow: 0 3px #a30136;
  transform: translateY(2px);
}
